
@define mainPanelWidth: 320px;
.CustomShop{
	width:mainPanelWidth;
	horizontal-align:right;
	vertical-align:center;
	flow-children: down;
	margin-bottom: 100px;
}

.ShopByType{
	flow-children:down;
	width:100%;
}

.FrontpageCellHeader
{
	z-index: 1;
	color: #528EA5;
	background-color: black;
	font-size: 14px;
	margin: 0px;
	padding: 3px 8px 1px 12px;
	text-shadow: 0px 0px 8px 2.0 #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
	font-weight: medium;

	transition-property: color;
	transition-duration: 0.15s;
	transition-timing-function: ease-in; 	
}

#CustomShopMain{
	width:100%;
	height:100%;
	horizontal-align:right;
}
#CustomShopList{
	height: 750px;
	width: mainPanelWidth;
	margin-top:10px;
	background-size: 100% 100%;
	flow-children: down;
	horizontal-align:right;
	background-color: rgb(0, 0, 0);

}

.BuyingItem{
	border: 0.7px solid orange;
}
#CustomShopAll{
	height: 650px;
	width: 99%;
	background-size: 100% 100%;
	flow-children: down;
	overflow: clip scroll;
	horizontal-align:center;
	vertical-align:center;
}
.CustomShopItemList{
	background-size: 100% 100%;
	flow-children: down;
	horizontal-align:center;
	vertical-align:center;
	width:100%;
}
.MainShopPanel{
	width: 350px;
	margin-top:5px;
	margin-bottom:5px;
	flow-children: right-wrap;
	horizontal-align:center;
}

.MainShopPanel Button
{
	width: 52px;
	height: width-percentage( 72.7% );
	margin-top: 3px;
	margin-bottom: 3px;
    margin-right: 6px;
    margin-left: 4px;
	border-radius:1px; 
}
.MainShopPanel Button:Hover{
	brightness: 2.0;
	border: 1px solid silver;
}
.MainShopPanel Button:active{
	padding:3px;
}